*.apk
*.iml
*.log
*.class

.DS_Store
.externalNativeBuild

local.properties

/.gradle
/.idea/workspace.xml
/.idea/libraries
/.idea/codeStyles

/gradlew
/gradlew.bat

/bin
/gen
/build
/gradle
/captures
